.bg-company-red {
    background-color: darkred !important;
}

/* .right-element{
    margin-right:0;
} */

.navbar-nav > li{
    padding-left:5px;
    padding-right: 2px;
    margin-left:0px;
    margin-right:1px;
  }

  .nav-item  > a {
    color: black !important;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark.bg-company-red 
{
    /* padding-bottom: 100px; */
 margin-bottom:50px ;}

 /* .container 
 {
     /* background-color: black; */
     /* height: 400px;
     width: 1000px; */ */
 }
 .carousel-inner,
 .carousel-item > img {
    width: 1000px;
    height: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  /* filter: invert(100%); */
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

#carousel-adjust {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
   }
.btn-floating.btn-lg{
    /* background-color: red; */
    color: red;
}
.card-img-top{
    width: 613px;
    height: 400px;
}
..parent {
    width: 80%;

    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}
.one {
    width: 20%;
    height: 1000px;
    background: whitesmoke ;
    float: right;
}
.two {
    /* margin-left: 15%; */
    height: 1000px;
        /* float: left; */
    background-image:url("images_temp/Music\ vector1.jpg") ;
    background-size: 100%;
}

.form-rounded {
    border-radius: 1rem;
    }

    .btn-primary {
        font-family: Raleway-SemiBold;
        font-size: 13px;
        color: rgba(58, 133, 191, 0.75);
        letter-spacing: 1px;
        line-height: 15px;
        border: 2px solid rgba(58, 133, 191, 0.75);
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
      }
      
      .btn-primary:hover {
        color: #FFF;
        background: rgba(58, 133, 191, 0.75);
        border: 2px solid rgba(58, 133, 191, 0.75);
      }
      .form-group > a{
        color: black !important;

      }
      .nav-link{

        margin-top: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
      }

      .badge-notification {
        position: relative;
        margin-right: 10px;
      }
      .badge-notification[data-badge]::after {
        content: attr(data-badge);
          position: absolute;
          top: -11px;
          right: -10px;
          display: flex;
          justify-content: center;
          align-content: center;
          width: 22px;
          height: 22px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 600;
          border-radius: 50%;
        background: var(--secondary);
        color: #fff;
      }
      span.badge-notification {
        margin-right: 24px;
      }
      span.badge-notification[data-badge]::after {
        top: -11px;
        right: -24px;
      }